.card {
    width: 200px;
    height: 400px;
    text-align: center;
    border: 1px solid #333;
    box-shadow: 1px 1px 2px 1px grey;
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: white;
    overflow-y: auto;
    margin: 10px;
}

.card:hover {
    cursor: pointer;
}

.pokemon-name {
    text-align: center;
}

.pokemon-type{
    color: crimson;
}

.description{
    color: #333;
}

img {
    -webkit-user-drag: none;
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: whitesmoke;
}

h1 {
    padding: 2px;
    color: #333;
}

p {
    padding: 2px;
    line-height: 1.4rem;
    text-align: center;
    color: #333;
    font-size: 1.2rem;
}

@media (width<768px) {
    .card{
        height: 450px;
        width: 200px;
        overflow-y: scroll;
        margin: 5px;
    }
}

@media (width<428px) {
    .card{
        height: 350px;
        width: 80%;
    }
}