header{
    animation: header-slide-in 2s forwards;
}

.card{
    animation: card-slide-in 2s forwards;
}

@keyframes header-slide-in{
    0%{
        transform: translate(300%);
    }
    100%{
        transform: translate(0%);
    }
}

@keyframes card-slide-in{
    0%{
        transform: translate(-300%);
    }
    100%{
        transform: translate(0%);
    }
}